@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Consolas, monospace;
  -ms-overflow-style: none;
}

.fullscreen-editor .ql-toolbar {
  display: none;
}

/* Remove white border */
.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

/* Fullscreen editor adjustments */
.fullscreen-editor .ql-container {
  border: none !important;
  margin-left: 5em;
  margin-right: 5em;
  padding-top: 5em;
}

.fullscreen-editor .ql-toolbar {
  border: none !important;
}

/* Hide save icon in full-screen mode */
.fullscreen-editor .save-icon {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.ql-editor {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: Consolas, monospace;
}

.futuristic-font {
  font-family: "Orbitron", sans-serif;
}
